.jumbotron {
    margin-top: 100px;
}

#firstDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

#secondDiv {
    width: 400px;
    height: 300px;
}

#bodyDiv {
    clear: both;
    margin: 10px;
    text-align: center;
}

img {
    height: 200px;
}