<!-- <div class="container">
    <button class="btn btn-outline-dark btn-sm" (click)="createPlaylist()">
        <i class="fa fa-plus-square" aria-hidden="true"></i>
        Create Playlist
    </button>

    <br><hr>

    <div class="text-center">
        <div class="card">
            <div class="card-header row">
                <div class="col-6">Playlist Id</div>
                <div class="col-6">Playlist Name</div>
            </div>
            <div class="card-body row" *ngFor="let item of playLists">
                <div class="col-6">
                    <ul class="list-group list-group-flush active">
                        <li class="list-group-item list-group-item-action">
                            {{ item.playlist_id }}
                        </li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul class="list-group list-group-flush active">
                        <li class="list-group-item list-group-item-action">
                            <a [routerLink]="['/play_list', item.playlist_id]">
                                {{ item.playlist_name }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> -->


